<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lxtgpt.ipa</key>
	<array>
		<dict>
			<key>metadata</key>
			<dict>
				<key>title</key>
				<string>联想控股</string>
				<key>subtitle</key>
				<string>UDID</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>bundle-identifier</key>
				<string>com.lenovo.CS</string>
			</dict>
			<key>assets</key>
			<array>
				<dict>
					<key>url</key>
					<string>https://192.168.136.20/app/images/download/logo_iphone.png</string>
					<key>needs-shine</key>
					<true/>
					<key>kind</key>
					<string>diaplay-image</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://192.168.136.20/app/lxtgpt.ipa</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
